@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
<link rel="StyleSheet" href=~/css/Index.css type="text/css">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-container">
                <center>
                    <h1>Bienvenido</h1>
                </center>
            </div>
        </div>
    </div>
    <div class="row" id="mediaContainer">

    </div>
</div>


