

body {
    display:contents;
    position:relative;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(#D1FAED, #FCFAF2);
    background-size:cover;
}



.text-container {
    height: 120vh;
    width: 120vw;
    display:contents;
    justify-content: left;
    align-items: first baseline;
    
}

    .text-container h1 {
        margin: 0;
        font-size: 200px;
        color: rgba(225,225,225, .01);
        background-image: url("https://media.istockphoto.com/photos/new-books-in-a-bookstore-picture-id171154358?k=6&m=171154358&s=612x612&w=0&h=_j3MNlooIrt_V1genLv2FwODFiGsnVBJlcaJ64yA91I=");
        background-repeat: repeat;
        -webkit-background-clip: text;
        animation: animate 15s ease-in-out infinite;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        position: static;
    }



@keyframes animate {
    0%, 100% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }
}

* {
    box-sizing: border-box;
}


.card {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
}

.card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    grid-template-row: auto auto;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(var(--blur));
    height: 35%;
    align-content: center;
}

.card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%) translateY( calc( (var(--size) * 0.4) ) ) translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
    /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
}

    .card__action svg {
        aspect-ratio: 1;
        width: 50%;
    }

.card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
}

.card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
}

.card:is(:hover, :focus-visible) {
    --hover: 1;
}



